<div [formGroup]="userForm">
  <div class="form-group mb-3">
    <label for="firstName">Vorname (*)</label>
    <input type="text" class="form-control" [ngClass]="{'is-invalid': (firstName?.invalid && (firstName?.dirty || firstName?.touched))}" formControlName="firstName" id="firstName" placeholder="">
    <div class="invalid-feedback">
      Geben Sie einen Vornamen ein.
    </div>
  </div>
  <div class="form-group mb-3">
    <label for="lastName">Nachname (*)</label>
    <input type="text" class="form-control" [ngClass]="{'is-invalid': (lastName?.invalid && (lastName?.dirty || lastName?.touched))}" formControlName="lastName" id="lastName" placeholder="">
    <div class="invalid-feedback">
      Geben Sie einen Nachnamen ein.
    </div>
  </div>
  <div class="form-group mb-3">
    <label for="lastName">Rolle</label>
    <select class="form-control" formControlName="role" id="role">
      <option value="User">Benutzer</option>
      <option value="Admin">Admin</option>
    </select>
  </div>
  <div class="form-group mb-3">
    <label for="email">E-Mail (*)</label>
    <input type="text" class="form-control" [ngClass]="{'is-invalid': (email?.invalid && (email?.dirty || email?.touched))}" formControlName="email" id="email" placeholder="">
    <div class="invalid-feedback">
      Geben Sie eine E-Mail Adresse ein.
    </div>
  </div>
  <div class="form-group mb-3">
    <label for="password">Passwort (*)</label>
    <input type="password" class="form-control" [ngClass]="{'is-invalid': (password?.invalid && (password?.dirty || password?.touched))}" formControlName="password" id="password" placeholder="">
    <div class="invalid-feedback">
      Geben Sie ein Passwort ein.
    </div>
  </div>
</div>
