<mat-toolbar color="warn" style="
    position: fixed;
    top: 0px;
    margin-bottom: 200px;
    z-index: 1000;">
    <mat-toolbar-row>
      <button mat-icon-button *ngIf="this.isLoggedIn()">
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1>Invoicer</h1>
      <span class="menu-spacer"></span>
      <ng-container>
        <button *ngIf="!this.isLoggedIn()" [routerLink]="'/login'" mat-button>
            <mat-icon>login</mat-icon>
        </button>
        <button *ngIf="this.isLoggedIn()" (click)="logout()" [routerLink]="''" mat-button>
            <mat-icon>logout</mat-icon>
          </button>

        <button [routerLink]="'/register'" mat-button *ngIf="!this.isLoggedIn()">
            <mat-icon>supervisor_account</mat-icon>
        </button>

      </ng-container>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-drawer-container autosize>
    <mat-drawer #sidenav mode="side" style="padding-top: 70px;">
      <mat-nav-list>
        <a mat-list-item  [routerLink]="''" (click)="sidenav.toggle()">Startseite</a>
        <!-- <a mat-list-item  [routerLink]="'/login'" (click)="sidenav.toggle()">Login</a>
        <a mat-list-item  [routerLink]="'/register'" (click)="sidenav.toggle()">Register</a> -->
        <a mat-list-item  [routerLink]="'/deliverynotes'" (click)="sidenav.toggle()">Lieferscheine</a>
        <a mat-list-item  [routerLink]="'/contacts'" (click)="sidenav.toggle()">Kontakte</a>
        <a mat-list-item  [routerLink]="'/files'" (click)="sidenav.toggle()">Dokumente</a>
        <a mat-list-item  [routerLink]="'/invoices'" (click)="sidenav.toggle()">Rechnungen</a>
        <a mat-list-item  [routerLink]="'/offers'" (click)="sidenav.toggle()">Angebote</a>
        <a mat-list-item  [routerLink]="'/orderconfirmation'" (click)="sidenav.toggle()">Auftragsbestätigungen</a>
        <a mat-list-item  [routerLink]="'/products'" (click)="sidenav.toggle()">Produkte</a>
        <a mat-list-item  [routerLink]="'/users'" (click)="sidenav.toggle()">Benutzer</a>
      </mat-nav-list>
    </mat-drawer>
    <div class="container-lg" style="padding-top: 100px;padding-bottom: 100px;">
      <ng-content></ng-content>
    </div>
  </mat-drawer-container>
