<a class="btn mb-5" [routerLink]="['/deliverynotes/create']">Lieferschein anlegen</a>

<div *ngIf="deliveryNotes">
  <div class="mb-3 row">
    <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Volltextsuche:</label>
    <div class="col-xs-3 col-sm-auto">
      <input id="table-complete-search" type="text" class="form-control" name="searchTerm" [(ngModel)]="searchTerm">
    </div>
  </div>

  <h1>Auflistung der Lieferscheine</h1>
  <table class="table table-striped">
    <colgroup>
      <col class="col-2">
      <col class="col-4">
      <col class="col-4">
      <col class="col-2">
    </colgroup>
    <thead>
    <tr>
      <th scope="col">Nummer</th>
      <th scope="col">Datum</th>
      <th scope="col">Status</th>
      <th scope="col">Aktionen</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let deliveryNote of deliveryNotes | filter: searchTerm : 'deliveryNoteNumber'">
      <td>{{ deliveryNote.deliveryNoteNumber }}</td>
      <td>{{ deliveryNote.deliveryNoteDate | date:'dd.MM.yyyy HH:mm' }}</td>
      <td>{{ deliveryNote.status == status.OPEN ? 'Geöffnet' : 'Geschlossen' }}</td>
      <td>{{ deliveryNote.company?.companyName }}</td>
      <td class="actions">
        <img src="/assets/icons/285666_pdf_file_icon.png" class="icon" (click)="createPdf(deliveryNote.id)"/>
        <img src="/assets/icons/4375147_logo_word_icon.png" class="icon" (click)="createWord(deliveryNote.id)"/>
        <a [routerLink]="['/deliverynotes/edit/', deliveryNote.id]" *ngIf="deliveryNote.status == status.OPEN">
          <img class="icon" src="/assets/icons/1814074_draw_edit_pencile_write_icon.png"/>
        </a>
        <img class="icon" src="/assets/icons/1646012_cancel_delete_error_exit_remove_icon.png" (click)="delete(deliveryNote.id)"/>
      </td>
    </tr>
    </tbody>
  </table>
</div>
